body {
  font-family: 'Merriweather', serif;
  background-color: #f4e1f2;
}

.App {
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.card {
  border: 1px solid #e2c4e8;
}

button {
  margin-top: 10px;
}

.landing-page, .main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  max-width: 100%;
}

.landing-page .logo, .main-content .logo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.landing-page h1, .main-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #944cb4;
}

.landing-page p, .main-content p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #6a1b9a;
}

.landing-page .btn, .main-content .btn {
  font-size: 1.25rem;
  padding: 10px 20px;
}

.landing-page .btn-primary, .main-content .btn-primary {
  background-color: #ba68c8;
  border: none;
}

.landing-page .btn-success, .main-content .btn-success {
  margin-top: 20px;
  background-color: #ab47bc;
  border: none;
}

.navbar {
  background-color: #6a1b9a;
}

.navbar .navbar-brand .logo {
  width: 50px;
  height: auto;
}

.navbar .btn {
  color: #ffffff;
}

.logout-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  background-color: #8e24aa;
  color: #ffffff;
  border: none;
}

.logout-button:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.logout-button i {
  font-size: 1.5rem;
}

.main {
  height: calc(100vh - 56px);
  overflow-y: auto;
  padding: 20px;
}

.table-responsive {
  margin-top: 20px;
  max-height: 400px; /* Limit the table height */
  overflow-y: auto; /* Enable vertical scrolling */
}

.table-container {
  width: 90%; /* Make the table container wider */
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.custom-table {
  font-size: 0.9rem;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #ba68c8;
}

.custom-table th {
  background-color: #ba68c8;
  color: #ffffff;
  text-align: center;
  padding: 12px 15px;
  border-bottom: 2px solid #8e24aa;
  border-right: 1px solid #8e24aa;
  &:first-child {
    border-top-left-radius: 10px;
  }
  &:last-child {
    border-top-right-radius: 10px;
  }
}

.custom-table td {
  text-align: center;
  padding: 12px 15px;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  background-color: #f3e5f5;
}

.custom-table tbody tr:last-of-type td {
  &:first-child {
    border-bottom-left-radius: 10px;
  }
  &:last-child {
    border-bottom-right-radius: 10px;
  }
}

.custom-table tbody tr:nth-of-type(odd) {
  background-color: #f8bbd0;
}

.custom-table tbody tr:nth-of-type(even) {
  background-color: #f3e5f5;
}

.custom-table tbody tr:hover {
  background-color: #e1bee7;
}

.charts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
}

.chart-item {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
